/* .spinner {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    z-index: 99999;
} */

/* *******************************************
**********************navbar******************
********************************************** */
/* header {
    position: fixed;
    top: 0 !important;
    width: 100%;
    z-index: 9999;
    border-bottom: unset;
} */
/* .header-scrolled {
    background-color: rgb(253 248 244) !important;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5) !important;
} */

/* *******************************************
**********************topbar******************
********************************************** */
.top-bar {
    background-color: var(--main-color);
    padding: 8px 0;
    color: #fff;
}
.top-title {
    font-size: 1rem;
    font-weight: unset !important;
}
/* *******************************************
**********************middle bar**************
********************************************** */
/* ---------------------------
###left-middle
------------------------------ */
.middle-item {
    position: relative;
    font-size: .9rem;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 10px 8px;
}
.middle-item:not(:last-child)::before {
    content: "";
    position: absolute;
    right: -9px;
    width: 1px;
    height: 14px;
    top: 50%;
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    background-color: #a09da3;
}
.accordion-body {
    padding: unset;
}
.accordion-item {
    background-color: unset;
    border: unset;
}
.accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
}
.accordion-button::after {
    display: none;
}
.accordion-button {
    padding: 10px;
}
.middle-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #e9e9e9;
    padding: 10px;
    min-width: 100px;
    width: 88%;
    z-index: 1;
    text-align: left;
    z-index: 9;
    transition: .3s;
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
}
.collapse.show .middle-menu {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
/* ---------------------------
###right-middle
------------------------------ */
.middle-bar {
    padding: 30px 0;
}
.icon {
    font-size: 1.4rem;
}
.top-link,
.icon {
    transition: var(--transition);
    background-color: unset;
}
.top-link:hover,
.icon:hover {
    color: var(--main-color);
}
/* ---------------------------
###search
------------------------------ */
.header-search {
    position: relative;
}
.search-wrap {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: scale(0.5);
    transition: var(--transition);
    z-index: 99;
}
.search-wrap.active {
    opacity: 1;
    transform: scale(1);
}
.search-txt {
    min-width: 280px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    height: 40px;
    padding: 5px 40px 5px 15px;
    margin: 0;
    background: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #777;
}
.search-wrap .icon {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    height: 40px;
    width: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #232323;
    line-height: 35px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 11;
    -ms-transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
/* ---------------------------
###login
------------------------------ */
.header-login {
    position: relative;
}
.login-wrap {
    position: absolute;
    right: 0;
    background-color: #fff;
    padding: 20px;
    width: 350px;
    z-index: 99;
    text-align: center;
    border: 1px solid #e9e9e9;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
}
.login-wrap.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.log-in {
    margin-bottom: 20px;
    font-size: 2.4rem;
}
.form-control {
    margin-bottom: 15px;
    padding: 10px;
    letter-spacing: 0.04rem;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: unset;
}
.sign-in {
    background-color: var(--main-color);
    width: 100%;
    border-radius: unset !important;
    transition: var(--transition);
    margin: 15px 0;
    color: #fff;
    letter-spacing: 1px;
}
.sign-in:hover {
    background-color: #000;
    color: #fff;
}
.create-account {
    color: #232323;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.forgot {
    float: right;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #232323;
}
/* ---------------------------
###shopping-cart
------------------------------ */
.header-cart {
    position: relative;
}
.cart-wrap {
    position: fixed;
    width: 400px;
    height: 100vh;
    right: 0px;
    top: 0;
    background-color: #fff;
    z-index: 99;
    padding: 10px;
    transition: var(--transition);
    visibility: hidden;
    transform: translateX(400px);
}
.cart-wrap.active {
    visibility: visible;
    transform: translateX(0px);
}
.cart-close {
    cursor: pointer;
}
.cart-top {
    padding: 5px 0 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.cart-overlay {
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 362px;
    width: 100vw;
    height: 100vh;
    z-index: -9 !important;
    transform: translateX(-38px);
}
.cart-title {
    font-weight: 100 !important;
    font-size: 1rem;
}
.cart-body {
    margin: 10px 0;
}
.nots {
    background-color: #fff3cd;
    color: #856404;
    padding: 6px;
    font-size: 1.3rem;
    letter-spacing: .04rem;
}
.note {
    font-size: 0.9rem;
}
.note-icon {
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 0.8rem;
    color: #856404;
}
.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
.middle .navbar {
    display: none;
}
/* ===================================================
=======================media query====================
====================================================== */
@media (max-width: 991px) {
    .middle-bar {
        border-bottom: 1px solid #e6e7f5;
        padding: 10px;
    }
    .middle {
        position: relative;
    }
    .middle .navbar {
        display: block;
    }
    .logo img {
        width: 170px;
    }
    .middle-icone {
        gap: unset !important;
    }
    .header-search {
        position: absolute;
        left: 46px;
    }
    .search-wrap {
        left: 0;
        right: unset;
    }
    .middle .left-middle {
        display: none;
    }
    .offcanvas-body {
        overflow-x: hidden;
        position: relative;
    }
}
@media (max-width: 767px) {
    .logo img {
        width: 140px;
    }
    .icon {
        font-size: 1.2rem;
    }
    .login-wrap {
        right: -50px;
    }
    .header-search {
        right: 550px;
    }
}
@media (max-width: 543px) {
    .cart-wrap {
        width: 380px;
    }
    .note {
        font-size: 0.8rem;
    }
    .note-icon {
        width: 25px;
        font-size: 0.5rem;
    }
    .empty {
        font-size: .8rem;
    }
}
@media (max-width: 415px) {
    .cart-wrap {
        width: 300px;
    }
}
/* *******************************************
**********************nav bar*****************
********************************************** */
.navbar {
    border-bottom: 1px solid #e6e7f5;
    padding: unset;
}
.navbar-toggler {
    display: none;
}
.nav-item {
    position: relative;
    color: #666666;
    margin: 0 5px;
}
.nav-link::before {
    background: var(--main-color);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: -1px;
    top: 0;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    -moz-transition: all 0.45s ease 0s;
    -ms-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    z-index: -1 !important;
}
.nav-item:hover>.nav-link:before {
    transform: scaleY(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    z-index: 0;
}
.badge {
    background: #f00 none repeat scroll 0 0;
    border-radius: 2px;
    font-size: 8px;
    font-weight: 500;
    padding: 2px 6px;
    position: absolute;
    top: 4px;
    letter-spacing: 0.5px;
    color: #fff;
    line-height: 8px;
    right: 1px;
    z-index: 9;
    text-transform: uppercase;
}
.badge::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    border: 6px solid;
    border-color: transparent transparent transparent #f00;
}
.badge.sale {
    background: #7fbc1e none repeat scroll 0 0;
}
.badge.sale::before {
    border-color: transparent transparent transparent #7fbc1e;
}
.badge.new {
    background: #666 none repeat scroll 0 0;
}
.badge.new::before {
    border-color: transparent transparent transparent #666;
}
.nav-link {
    position: relative;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 700;
    line-height: 35px;
    z-index: 1;
    white-space: nowrap;
    transition: var(--transition);
    color: unset;
}
.menu {
    display: inline-block;
    width: 100%;
    line-height: 23px;
}
.dropdown-menu {
    border-radius: 0;
    transition: var(--transition);
    padding: 30px;
    display: block;
    margin: 0;
    left: -197px;
    z-index: 999;
    background-color: #fff;
    width: 90vw;
}
.dropdown-menu .sub-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.dropdown-two {
    width: 725px;
    left: 0;
    padding: 15px;
}
.dropdown-three {
    width: 100px;
    left: 0;
    padding: 10px;
}
.dropdown-three .sub-menu {
    display: block;
}
.dropdown-two img {
    width: 180px;
}
.dropdown-two .sub-menu {
    grid-template-columns: repeat(3, 1fr);
}
.menu-title {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 7px;
    position: relative;
}
.menu-title::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    height: 1px;
    bottom: 0;
    background-color: #6666;
}
.dropdown-item {
    display: inline-block;
    width: 100%;
    transition: var(--transition);
    color: #a8a5a5;
    line-height: 30px;
    font-size: 1rem;
    white-space: nowrap;
    text-transform: capitalize;
    padding: unset;
}
.dropdown-item:hover {
    color: #444;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: unset;
}
.dropdown .dropdown-item {
    display: block;
}
/* ===================================================
=======================media query====================
====================================================== */
@media (min-width: 991px) {
    .nav-item:hover  .nav-link {
        color: #fff !important;
    }
    .dropdown-menu {
        opacity: 0;
        visibility: hidden;
        transform: translateY(60px);
        -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        -moz-transform: translateY(60px);
    }
    .nav-item:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transition: var(--transition);
        transform: translateY(0);
    }
}
@media (max-width: 991px) {
    .nav-item:hover>.nav-link:before {
        display: none;
    }
    .icon {
        font-size: 1rem;
    }
    .toggle .btn {
        background-color: unset;
    }
    .toggle .btn:hover,
    .toggle .btn:focus {
        background-color: unset;
    }
    .navbar {
        border-bottom: unset !important;
        padding: unset !important;
    }
    .offcanvas-header {
        justify-content: end;
    }
    .offcanvas-start {
        width: 300px;
    }
    .nav-list {
        padding: 0 20px;
        display: block;
        position: fixed;
        top: 51px;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 100%;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
    }
    .nav-item {
        margin: unset !important;
    }
    .nav-item:before {
        display: none;
    }
    .nav-item:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
    .item-toggle-button {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .item-toggle-button:after {
        content: "ï„‡";
        text-indent: 0px;
        font-family: "FontAwesome";
        color: var(--second-color);
        transition: all 200ms linear;
        position: absolute;
        right: 0;
    }
    .item-toggle-button.is-open:after {
        transform: rotate(180deg);
    }
    .mobile-menu nav ul li {
        padding: 10px 0;
        position: relative;
        line-height: unset;
    }
    .nav-link {
        color: var(--second-color);
        padding: unset;
        display: initial;
        font-weight: 100;
        font-size: 1.2rem;
    }
    .nav-link:focus,
    .nav-link:hover {
        color: var(--second-color) !important;
    }
    .mobile-menu nav ul li .secondary-nav {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0ms linear;
    }
    .sub-menu {
        padding-inline-start: 15px;
    }
    .has-tertiary,
    .dropdown-item {
        padding: 5px !important;
    }
    .nav-link {
        font-size: 1rem;
    }
    .mobile-menu .tertiary-nav {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0ms linear;
    }
    .mobile-menu .secondary-nav.is-open {
        max-height: 100% !important;
        transition: max-height 200ms linear;
    }
    .link-item-dropmenu {
        font-size: 14px;
    }
    .mobile-menu nav ul li .tertiary-nav.is-open {
        max-height: 100%;
        transition: max-height 200ms linear;
    }
    .collapse.show .middle-menu li {
        padding: 0 !important;
    }
}
