/* @font-face {
    font-family: Myriad;
    src: url("../fonts/Myriad Pro Regular/Myriad Pro Regular.ttf") format("opentype");
} */
body {
    /* font-family: Myriad; */
    direction: ltr;
}


/* header */

